/* public/stylesheets/project_page.css */
body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.placeholder {
    background: #F7EEE6;
}

#pie-chart-view {
    width: 100%;
}

text {
    font: 12px sans-serif;
}
svg {
    display: block;
}
#burn-chart-view {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
.dashed {
    stroke-dasharray: 5,5;
}
#burn-chart-view {
    height: 400px;
}
