// svgcharts.jade
extends layout
block css
  each css in assets.projects.css
    link(rel="stylesheet", href=css, type="text/css")

block js
  each js in assets.projects.js
    script(type="text/javascript", src=js)
block body
  #navbar-view
  .container-fluid
    .row
      .col-md-4.col-sm-12
        p yo
      .col-md-8.col-sm-12
        #project-table-view
