.panel.panel-default
  .panel-heading
    h3.panel-title Edit Budget Information
  .panel-body
    .form-group
      label(for="spent_budget") Total Spent
      input#spent_budget(type="text", placeholder="100")
