td 
  .form-group
    input#project-id-input.form-control(type="text", placeholder="Project ID")
td 
  .form-group
    input#project-name-input.form-control(type="text", placeholder="Name")
td 
  .form-group
    input#project-manager-input.form-control(type="text", placeholder="Manager")
td 
  .form-group
    input#project-description-input.form-control(type="text", placeholder="Description")
td 
  .form-group
    input#project-budget-input.form-control(type="text", placeholder="Budget")

