table.table.table-hover
  thead
    tr
      th(data-id="id") Project ID
      th(data-id="name") Project Name
      th(data-id="manager") Manager
      th(data-id="description") Description
      th(data-id="budget") Budget
  tbody

