.container-fluid
  .row
    .col-md-4.col-lg-offset-1.col-lg-5
      h1= model.get('name')
      h3
        i= model.get('id')
      p= model.get('description')
    .col-md-8.col-lg-5
      #pie-view
  .row
    .col-lg-offset-1.col-lg-10
      h3 Burn Chart
    .col-lg-offset-1.col-lg-10
      .placeholder(style={width:'100%', height: '350px'})
  .row
    .col-lg-offset-1.col-lg-10
      h3 Employees
    .col-lg-offset-1.col-lg-10
      table.table.table-hover
        thead
          tr
            th Name
            th Rate
            th Hours
            th Cost
        tbody
          tr
            td Luke
            td absurd
            td 160
            td 10000



